body,
html {
  background-color: #000000;
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  min-height:100%;
}
body {
  position: relative;
}

.details {
  display: block;
  background: #ffffff;
  height: 100%;
  width: 100%;
  /* padding: auto; */
  box-sizing: border-box;
}

#box-1 {
  background: linear-gradient(to top right, #C70025 calc(50% - 1px), #000000, #000000 calc(50% + 1px) )
}

#box-2 {
  background: linear-gradient(to top left, #C70025 calc(50% - 1px), #000000, #000000 calc(50% + 1px) )
}

#box-3 {
  background: linear-gradient(to top left, #000000 calc(50% - 1px), #000000, #C70025 calc(50% + 1px) )
}

#box-4 {
  background: linear-gradient(to top right, #000000 calc(50% - 1px), #000000, #C70025 calc(50% + 1px) )
}

#hover-layer {
  z-index: 0;
  position: absolute;
  border: 10pt solid #ffffff;
}

#main {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  z-index: 1;
  position: fixed;
  pointer-events: none ;
}

.details {
  z-index: 1;
  position: relative;
  pointer-events: none;
  background-color: #ffffff;
  color: #C70025;
  border: 10pt solid #C70025;
}

.item .thn {
    font-family: 'Lovelo Black', serif;
  font-size: 20px;
  /* color: #ffffff; */
  line-height: 0.5;
  /* border: #000000 1px solid; */
  /* box-shadow: 0 0 0 2px #000000; */
  /* background-color: #000000; */
  color: #000000;
}

.thn .first {
  top: 0;
}

.thn .second {
  top: 100%;
}

.thn {
  text-align: right;
}

.thn hr {
  border: #C70025 2px solid;
}

.item p {
  /* font-family: 'Roboto'; */
  font-family: 'Roboto';
  padding-right: 10%;
  margin-left: 15px;
  padding-left: 15px;
  /* margin-left: 20px; */
  border-left: #000000 1px solid;
}

.item .badge {
  background-color: #C70025;
  color: #ffffff;
}

.item h2 {
  font-family: 'Roboto';
  font-weight: 300;
  /* color: #C70025; */
  line-height: 0.7;
}

.item h5 {
  font-weight: 500;
  font-family: 'Roboto';
  font-style: italic;
  /* color: #C70025; */
  /* border-bottom: #000000 1px solid; */
  width: fit-content;
}

.item {
  margin-bottom: 30px;
  color: #000000;
}

#brand {
  /* padding: 10px; */
  font-family: 'Komoda', serif;
  font-size: 250px;
  background-color: #000000;
  color: #ffffff;
  border: 10pt solid #ffffff;

  padding-top: 30pt;
  padding-right: 10pt;
  padding-left: 10pt;

  position: absolute;
  top: 50%;
  left: 50%;
  /* right: 0px;
  top: 0px; */
  transform: translate(-50%, -50%);
  z-index: 2;
  line-height: 0.75;
  
  -webkit-animation: heartbeat 1.5s infinite ;
}

.select {
  z-index: 3;
}

.tags {
  font-family: 'Lovelo Black', serif;
  font-size: 50px;
  color: #ffffff;
  line-height: 1.1;
  /* box-shadow: 0 0 0 0.15em #000000;
  background-color: #000000; */
}

.tags-text-up {
  background-color: #000000;
  width: fit-content;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.tags-text-down {
  background-color: #000000;
  width: fit-content;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.quad {
  position: relative;
  float: left;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
}

.profile-photo {
	width:250px;
  border-radius: 50%;
  filter: grayscale(100%);
  top: 50%;
}

.subpage-title {
  font-family: 'Lovelo Black', serif;
  font-size: 50px;
  color: #ffffff;
  line-height: 1.1;
  /* box-shadow: 0 0 0 15px #C70025; */
  /* background-color: #C70025; */
}

.subpage-title .tags-text-up, .subpage-title .tags-text-down {
  background-color: #C70025;
}

#one {
  background-color: #C70025;
  color: #ffffff;
  border: 10pt solid #ffffff;
}

#one .headline {
  text-align: center;
}

/* #two {
  background-color: #ffffff;
  color: #C70025;
  border: 10pt solid #ffffff;
} */

#three {
  background-color: #ffffff;
  color: #C70025;
}

.middle-div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.justify-right {
  direction:rtl; 
  text-align:justify;
}

.about-title {
  /* color: blue; */
  font-size: 10em;
  font-family: 'Lovelo Black';
  line-height: 1.8;
}

.circle-shape {
  font-size: 5em;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

@font-face {
  font-family: Axwell;
  src: url("../fonts/Axwell.otf") format("opentype");
}

@font-face {
  font-family: 'Lovelo Black';
  src: url("../fonts/LoveloBlack.otf") format("opentype");
}

@font-face {
  font-family: 'Lovelo Line Light';
  src: url("../fonts/LoveloLineLight.otf") format("opentype");
}

@font-face {
  font-family: 'Lovelo Line Bold';
  src: url("../fonts/LoveloLineBold.otf") format("opentype");
}

@font-face {
  font-family: 'Komoda';
  src: url("../fonts/Komoda.otf") format("opentype");
}

@-webkit-keyframes heartbeat {
    
  0% {
    transform: scale(1.3, 1.3) translate(-50%, -50%); 
    transform-origin: top left;
  }
    92% {
      transform: scale(1, 1) translate(-50%, -50%); 
      transform-origin: top left;
    }
    94% {
      transform: scale(1.15, 1.15) translate(-50%, -50%); 
      transform-origin: top left;
    }
    96% {
      transform: scale(1, 1) translate(-50%, -50%); 
      transform-origin: top left;
    }
    98% {
      transform: scale(1.1, 1.1) translate(-50%, -50%); 
      transform-origin: top left;
    }
    100% {
      transform: scale(1, 1) translate(-50%, -50%); 
      transform-origin: top left;
    }
}