body,
html {
  background-color: #171616;
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
}

div {
  cursor: pointer;
}

.content {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content p {
  margin: 0;
}

section {
  display: block;
  background: #ffffff;
  height: 100%;
  width: 100%;
  padding: 60px;
  padding-left: 120px;
  box-sizing: border-box;
}

#main {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  z-index: 1;
  position: absolute;
}

#one {
  z-index: 2;
  position: absolute;
  /* opacity: 1; */
  pointer-events: none;
}

#two {
  z-index: 2;
  position: absolute;
  /* opacity: 1; */
  pointer-events: none;
}

#three {
  z-index: 2;
  position: absolute;
}

#four {
  z-index: 2;
  position: absolute;
}

#five {
  z-index: 2;
  position: absolute;
}

#menu {
  width: auto;
}
#menu * {
  overflow: hidden;
  white-space: nowrap;
  font-size: 30px;
  text-align: center;
}
#menu a {
  display: none;
  width: 0px;
  opacity: 0;
}
#menu span {
  display: inline-block;
  width: 250px;
}

@font-face {
  font-family: Axwell;
  src: url("../fonts/Axwell.otf") format("opentype");
}

@font-face {
  font-family: 'Lovelo Black';
  src: url("../fonts/LoveloBlack.otf") format("opentype");
}

@font-face {
  font-family: 'Lovelo Line Light';
  src: url("../fonts/LoveloLineLight.otf") format("opentype");
}

@font-face {
  font-family: 'Komoda';
  src: url("../fonts/Komoda.otf") format("opentype");
}

#brand {
  /* padding: 10px; */
  font-family: 'Komoda', serif;
  font-size: 350px;
  background-color: transparent;
  color: #ffffff;
  border: 15px solid #ffffff;
  /* margin: auto; */
    text-align: center;
    vertical-align:middle;
    /* display:table-cell */
    padding-top: 50px;
    padding-right: 70px;
    padding-left: 70px;

}
/* body {
  font-family: 'Axwell', serif;
  font-size: 49px;
} */