body,
html {
  background-color: rgb(0, 0, 0);
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  min-height:100%;
}

/* div {
  cursor: pointer;
} */

section {
  display: block;
  background: #ffffff;
  height: 100%;
  width: 100%;
  padding: 60px;
  box-sizing: border-box;
}

#hover-layer {
  z-index: 0;
  position: absolute;
  /* pointer-events: none; */

}

#main {
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  z-index: 1;
  position: absolute;
  pointer-events: none;
}

.details {
  z-index: 2;
  position: absolute;
  pointer-events: none;
}

#menu {
  width: auto;
}
#menu * {
  overflow: hidden;
  white-space: nowrap;
  font-size: 30px;
  text-align: center;
}
#menu a {
  display: none;
  width: 0px;
  opacity: 0;
}
#menu span {
  display: inline-block;
  width: 250px;
}


#brand {
  /* padding: 10px; */
  font-family: 'Komoda', serif;
  font-size: 350px;
  background-color: transparent;
  color: #ffffff;
  border: 15px solid #ffffff;
  text-align: center;
  vertical-align:middle;
  padding-top: 60px;
  padding-right: 80px;
  padding-left: 80px;

}

.tags {
  font-family: 'Lovelo Black', serif;
  font-size: 70px;
  color: rgb(255, 255, 255);
  line-height: 1.1;

  /* box-shadow: 0 0 0 15px #000;
  background-color: #000; */
}

.quad {
  position: relative;
  float: left;
  top: 50%;
  left: 50%; 
  transform: translate(-50%, -50%);
}






@font-face {
  font-family: Axwell;
  src: url("../fonts/Axwell.otf") format("opentype");
}

@font-face {
  font-family: 'Lovelo Black';
  src: url("../fonts/LoveloBlack.otf") format("opentype");
}

@font-face {
  font-family: 'Lovelo Line Light';
  src: url("../fonts/LoveloLineLight.otf") format("opentype");
}

@font-face {
  font-family: 'Komoda';
  src: url("../fonts/Komoda.otf") format("opentype");
}
